<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hangman Game</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

</head>
<body>
<div id="gradient" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://127.0.0.1:8887/js_background.js"></script>
<link rel="stylesheet" href="http://127.0.0.1:8887/styles.css">
        <h1>Game Hangman</h1>
        <legend>
            <h3>Wuhoo!!! you cracked it .. Great Job!!!</h3>

            <br>
            <button  id ="play" formmethod="post" value="Play again"> Play Again</button>
            <script type="text/javascript">
                document.getElementById("play").onclick = function () {
                    location.href = "http://localhost:8888/newgame";
                    };
            </script>
        </legend>
    <br />

</div>
</body>
</html>